
{% for element in entities %}
    <div class="ui grid">
        <div class="ten wide column">
            <div class="ui clearing segment" style=" height: 36vh;">
                <div class="ui items">
                    <div class="item">
                        <!-- shop image -->
                        <a class="ui medium image bordered">
                            <img  src="{{file_url(element.field_image.entity.uri.value)}}">
                        </a>
                        <!-- shop image -->
                        <div class="content">
                            <!-- shop name -->
                            <a class="header">{{element.name.value}}</a>
                            <!-- shop name -->
                            <!-- shop address -->
                            <div class="header">{{element.field_address.getString()}}</div>
                            <!-- shop address -->
                            <div class="description">
                                <!-- shop description -->
                                {{element.field_description.value}}
                                <!-- shop description -->
                            </div>
                        </div>
                    </div>   
                </div>
                <!-- shop action -->
                <a href="{{path('single.service', {'uid': element.id.value})}}">
                    <div class="ui right floated button">Prendre un rendez vous</div>
                </a>
                <!-- shop action -->
            </div>
        </div>
        <div class="two wide column">
            <div class="ui clearing segment" style="width: 35.5vw;  height: 36vh;">
                <!-- Map details -->

                <!-- Map details -->
                <div class="ui items">
                    <div class="item" >
                        <div id="my-map-{{element.id.value}}" style="width: 34vw;height: 32.8vh;"></div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
{% endfor %}




